$lcd-bg: #a8b58b;
$lcd-dark: #1f291f;
$page-bg: #202420;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $page-bg;
  font-family: "Courier New", monospace;
}

.game{
  width: 700px;
}

.menu{
  display: flex;
  padding: 50px;
  min-height: 500px;
  flex-direction: column;
  background: $lcd-bg;
  color: $lcd-dark;
  border: 8px solid #111;
  box-shadow: 0 0 0 5px #4b5545, 0 15px 40px rgb(0, 0, 0, 0.5);

  &__header{
    text-align: center;
    margin-bottom: 55px;
  }
  &__title{
    font-size: 50px;
    letter-spacing: 12px;
    line-height: 1;
  }
  &__subtitle{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 8px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 12px;
  }

  &__item{
    position: relative;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    color: $lcd-dark;
    text-align: left;
    font-family:"Courier New", monospace ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    .menu__arrow{
      visibility: hidden;
      display: inline-block;
      width: 30px;
    }

    &.active{
      background-color: $lcd-dark;
      color: $lcd-bg;
      .menu__arrow{
        visibility: visible;
      }
    }
    &:hover{
      background-color: $lcd-bg;
      color: $lcd-dark;
      .menu__arrow{
        visibility: visible;
      }
    }
  }
  &__footer{
    margin-top: 55px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }
}